@media screen and (max-width: 375px){
  #page{
    font-size: 90%;
    
  }
  .page{
    text-decoration: none;
    color: #000;
    
    padding: 35px 40px;
  }
  .nav{
    
    height: 80px;
    
  }
  .links{
    position: relative;
    left: -80px;
    top: -5px;
    display: none;
  }
  .logo-page{
    font-size: 220%;
    cursor: pointer;
    font-style: italic;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px rgb(255, 123, 0);
    position: relative;
    left: -200px;
    top: -4px;
    
  }
  #menu-ham{
    display: block;
  }
  .match-day{
    margin-top: 12px;
    
  }
  .container{
    background-color: #fff;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0px;
    box-shadow: 1px 1px 5px 5px rgb(189, 186, 186);
  }
  /* nav */
   /* nav */
    /* nav */
     /* nav */
  .matchs{
    height: 163px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 12px;
  }
  .time-now{
    padding: 10px 20px;
    position: relative;
    top: -20px;
  }
  .matchs .eqip-img{
    width: 40px;
    height: 40px;
    }
    .equip-1{
      display: flex;
      position: relative;
      top: 30px;
      left: 15px;
    }
    .eqip-name-1{
      margin-left: 20px;
      margin-top: 10px;
      font-size: 120%;
      }
      .equip-2{
        position: relative;
        top: -53px;
        right: 13px;
      }
      .eqip-name-2{
        position: absolute;
        left: -55px;
        top: 10px;
        font-size: 120%;
        }
     .time{
       margin-top: 10px;
     }


     .sett{
      position: relative;
      top: 17px;
      left: 40px;
      font-size: 100%;
    }
    #set{
      padding: 10px 10px;
      display: grid;
      grid-template-columns: repeat(1, 70px);
    }
    .text{
      margin-top: 3px;
      margin-left: -35px;
    }
    #set i{
      margin-left: -30px;
      margin-top: 5px;
    }
    .set-1{
      margin-left: -10px;
    }
    .set-2{
      
      margin-left: 35px;
    }
    .set-3{
  
      margin-left: 30px;
    }
    /* Next Match */ 
    /* Next Match */ 
    /* Next Match */ 
    #matc{
      position: relative;
      top: 30px;
    }
    .equip-2-2{
      position: relative;
      top: -52px;
      right: 13px;
    }
    #eq{
      margin-left: -15px;
    }
   
    #set-1{
      display: grid;
      grid-template-columns: repeat(1, 70px);
      padding: 10px 10px;
    }
    .set-1-1{
      margin-left: -10px;
    }
    .set-2-2{
      margin-left: 35px;
    }
    .set-3-3{
      
      margin-left: 30px;
    }
    
    #set-1 i{
      margin-left: -30px;
      margin-top: 5px;
    }

}
/* width  from 365 to 550 */
/* width  from 365 to 550 */
/* width  from 365 to 550 */
@media screen and (min-width: 380px) and (max-width: 550px){

  #page{
    font-size: 90%;
    
  }
  .page{
    text-decoration: none;
    color: #000;
    
    padding: 35px 50px;
  }
  .nav{
    
    height: 80px;
    
  }

  #menu-ham{
      display: block;
      margin-left: 20px;
    }
  
  .links{
    position: relative;
    left: -80px;
    top: -5px;
    display: none;
  }
  .logo-page{
    font-size: 220%;
    cursor: pointer;
    font-style: italic;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px rgb(255, 123, 0);
    position: relative;
    left: -200px;
    top: -4px;
    
  }
  
  .match-day{
    margin-top: 12px;
    
  }
  .container{
    background-color: #fff;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0px;
    box-shadow: 1px 1px 5px 5px rgb(189, 186, 186);
  }
  .matchs{
    height: 163px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 12px;
  }
  .time-now{
    padding: 10px 20px;
    position: relative;
    top: -20px;
  }
  .matchs .eqip-img{
    width: 40px;
    height: 40px;
    }
    .equip-1{
      display: flex;
      position: relative;
      top: 32px;
      left: 15px;
    }
    .eqip-name-1{
      margin-left: 20px;
      margin-top: 10px;
      font-size: 120%;
      }
      .equip-2{
        position: relative;
        top: -53px;
        right: 13px;
      }
      .eqip-name-2{
        position: absolute;
        left: -55px;
        top: 10px;
        font-size: 120%;
        }
     .time{
       margin-top: 10px;
     }


     .sett{
      position: relative;
      top: 17px;
      left: 40px;
      font-size: 100%;
    }
    #set{
      display: grid;
      grid-template-columns: repeat(1, 75px);
      padding: 10px 10px;
    }
    .text{
      margin-top: 3px;
      margin-left: -45px;
    }
    #set i{
      margin-left: -40px;
      margin-top: 5px;
    }
    .set-1{
      margin-left: -10px;
    }
    .set-2{
      
      margin-left: 45px;
    }
    .set-3{
  
      margin-left: 40px;
    }
    /* Next Match */ 
    /* Next Match */ 
    /* Next Match */ 
    #matc{
      position: relative;
      top: 30px;
    }
    .equip-2-2{
      position: relative;
      top: -52px;
      right: 13px;
    }
    #eq{
      margin-left: -15px;
    }
   
    #set-1{
      display: grid;
      grid-template-columns: repeat(1, 75px);
      padding: 10px 10px;
    }
    .set-1-1{
      margin-left: -10px;
    }
    .set-2-2{
      margin-left: 45px;
    }
    .set-3-3{
      
      margin-left: 40px;
    }
    
    #set-1 i{
      margin-left: -40px;
      margin-top: 5px;
    }
/* width  from 800 to 1024 */
/* width  from 800 to 1024 */
/* width  from 800 to 1024 */
}

@media screen and (min-width: 900px) and (max-width: 1028px){

  #page{
    font-size: 120%;
    
  }
  .page{
    text-decoration: none;
    color: #000;
    
    padding: 35px 50px;
  }
  .nav{
    
    height: 85px;
    
  }
  .links{
    position: relative;
    left: -20px;
    top: -5px;
    display: flex;
  }
  .logo-page{
    font-size: 220%;
    cursor: pointer;
    font-style: italic;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px rgb(255, 123, 0);
    position: relative;
    left: -40px;
    top: -4px;
    
  }
  #menu-ham{
    display: none;
  }
  .match-day{
    margin-top: 12px;
    
  }
  .container{
    background-color: #fff;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0px;
    box-shadow: 1px 1px 5px 5px rgb(189, 186, 186);
  }
  .matchs{
    height: 163px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 12px;
  }
  .time-now{
    padding: 10px 20px;
    position: relative;
    top: -20px;
  }
  .matchs .eqip-img{
    width: 50px;
    height: 50px;
    }
    .equip-1{
      display: flex;
      position: relative;
      top: 25px;
      left: 50px;
    }
    .eqip-name-1{
      margin-left: 70px;
      margin-top: 15px;
      font-size: 150%;
      }
      .equip-2{
        position: relative;
        top: -65px;
        right: 53px;
      }
      .eqip-name-2{
        position: absolute;
        left: -85px;
        top: 15px;
        font-size: 150%;
        }
     .time{
       margin-top: 10px;
     }


     .sett{
      position: relative;
      top: 17px;
      left: 40px;
      font-size: 130%;
    }
    #set{
      display: grid;
      grid-template-columns: repeat(2, 120px);
      padding: 10px 31px;
    }
    .text{
      margin-top: 5px;
      margin-left: 30px;
    }
    #set i{
      margin-left: 0px;
      margin-top: 5px;
    }
    .set-1{
      margin-left: -10px;
    }
    .set-2{
      
      margin-left: 45px;
    }
    .set-3{
  
      margin-left: 40px;
    }
    /* Next Match */ 
    /* Next Match */ 
    /* Next Match */ 
    #matc{
      position: relative;
      top: 30px;
    }
    .equip-2-2{
      position: relative;
      top: -65px;
      right: 50px;
    }
    #eq{
      margin-left: -15px;
    }
   
    #set-1{
      display: grid;
      grid-template-columns: repeat(2, 135px);
      padding: 10px 31px;
    }
    .set-1-1{
      margin-left: -30px;
    }
    .set-2-2{
      margin-left: 20px;
    }
    .set-3-3{
      
      margin-left: 20px;
    }
    
    #set-1 i{
      margin-left: -10px;
      margin-top: 5px;
    }
    

}

/* width  from 550 to 800 */
/* width  from 550 to 800 */
/* width  from 550 to 800 */

@media screen and (min-width: 560px) and (max-width: 800px){

  #page{
    font-size: 90%;
    
  }
  .page{
    text-decoration: none;
    color: #000;
    
    padding: 35px 50px;
  }
  .nav{
    
    height: 80px;
    
  }
  .links{
    position: relative;
    left: -80px;
    top: -5px;
    display: flex;
  }
  .logo-page{
    font-size: 220%;
    cursor: pointer;
    font-style: italic;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px rgb(255, 123, 0);
    position: relative;
    left: -210px;
    top: -4px;
    
  }
  #menu-ham{
    display: none;
  }
  .match-day{
    margin-top: 12px;
    
  }
  .container{
    background-color: #fff;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0px;
    box-shadow: 1px 1px 5px 5px rgb(189, 186, 186);
  }
  .matchs{
    height: 163px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 12px;
  }
  .time-now{
    padding: 10px 20px;
    position: relative;
    top: -20px;
  }
  .matchs .eqip-img{
    width: 50px;
    height: 50px;
    }
    .equip-1{
      display: flex;
      position: relative;
      top: 25px;
      left: 50px;
    }
    .eqip-name-1{
      margin-left: 70px;
      margin-top: 15px;
      font-size: 150%;
      }
      .equip-2{
        position: relative;
        top: -65px;
        right: 53px;
      }
      .eqip-name-2{
        position: absolute;
        left: -85px;
        top: 15px;
        font-size: 150%;
        }
     .time{
       margin-top: 10px;
     }


     .sett{
      position: relative;
      top: 17px;
      left: 40px;
      font-size: 130%;
    }
    #set{
      display: grid;
      grid-template-columns: repeat(2, 80px);
      padding: 10px 31px;
    }
    .text{
      margin-top: 5px;
      margin-left: 10px;
    }
    #set i{
      margin-left: 0px;
      margin-top: 5px;
    }
    .set-1{
      margin-left: -10px;
    }
    .set-2{
      
      margin-left: 45px;
    }
    .set-3{
  
      margin-left: 40px;
    }
    /* Next Match */ 
    /* Next Match */ 
    /* Next Match */ 
    #matc{
      position: relative;
      top: 30px;
    }
    .equip-2-2{
      position: relative;
      top: -65px;
      right: 50px;
    }
    #eq{
      margin-left: -15px;
    }
   
    #set-1{
      display: grid;
      grid-template-columns: repeat(2, 95px);
      padding: 10px 31px;
    }
    .set-1-1{
      margin-left: -30px;
    }
    .set-2-2{
      margin-left: 20px;
    }
    .set-3-3{
      
      margin-left: 20px;
    }
    
    #set-1 i{
      margin-left: -20px;
      margin-top: 5px;
    }

}